<footer class="footer-basic"
    style="background: rgba(43,47,49,0);height: 100.797px;margin-top: -40px; margin-bottom: 75px">
    <div class="social" style="color: rgb(97,171,244);"><a href="https://www.instagram.com/roadacci/"><i
                class="icon ion-social-instagram"></i></a><a href="https://twitter.com/RTrAPUSA"><i
                class="icon ion-social-twitter"></i></a><a
            href="https://www.facebook.com/profile.php?id=100080948462810"><i class="icon ion-social-facebook"></i></a>
    </div>
    <ul class="list-inline">
        <!-- <li class="list-inline-item"><a href={{ url_for('app.home') }}>Home</a></li>
        <li class="list-inline-item"><a href={{ url_for('news.announcements') }}>Announcements</a></li>
        <li class="list-inline-item"><a href={{ url_for('auth.eda') }}>EDA</a></li>
        <li class="list-inline-item"><a href={{ url_for('report.send_report') }}>Report</a></li>
        <li class="list-inline-item"><a href={{ url_for('feedback.send_feedback') }}>Feedback</a></li>-->
    </ul>
</footer>
<div class="footer-copyright">
    <p>© 2022 RTA Prediction</p>
</div>