<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='fonts/FontAwesome.otf') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome-webfont.eot') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome-webfont.svg') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome-webfont.ttf') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome-webfont.woff') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome-webfont.woff2') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome-webfont.ttf') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='fonts/simple-line-icons.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">

<link rel="stylesheet" href="{{ url_for('static', filename='css/vanilla-zoom.min.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">